<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="step_05.bean.UserDao"/>
<!--    在添加bean的属性的自动化处理上有些问题，代码问题在XmlBeanDefinitionReader的96行哪里有问题，暂时不处理走下面的流程-->
<!--    <bean id="userService" class="step_05.bean.UserService">-->
<!--        <property name="uId" value="10001"/>-->
<!--        <property name="userDao" ref="userDao"/>-->
<!--    </bean>-->

</beans>